.card:hover {
    box-shadow: 0 0 16px 0 var(--slate-900);  
    transform: scale(1.02);
}

.card {
    background-color: var(--white);
    padding: 16px;
    border-radius: 15px;
    width: 280px;
    align-items: center;
}

.card-img {
    width: 100%;
    border-radius: 15px;
    
}

.card-info {
    padding-bottom: 16px;
}

.card-title {
    text-align: center;
}

.card-description {
    text-align: center;
}